.hero {
  background: #1d1d1d;
  color: #fff;
  text-align: center;
  padding: 4rem 2rem;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 84px;
} 
.title {
  font-size: 62px;
  font-family: sans-serif;
  font-size: 82px;
  font-weight: bold;
  line-height: 74px;
  text-align: center;
  background: linear-gradient(90deg, #8093ff, #66ffe5, #8093ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
} 
.heroWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 84px;
}
.header {
  color: #f4f4f4;
  font-family: sans-serif;
  font-size: 62px;
  line-height: 74px;
  width: 838.6px;
  height: 288.2px;
}
.buttons {
  color: #30363a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.codeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.getStartedButton {
  color: #30363a;
  border: none;
  padding: 12px;
  cursor: pointer;
  border-radius: 8px;
  border: solid 1px #2c2c2c;
  background-color: #5ce4cf;
  font-size: 16px;
  width: 163px;
  height: 46px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22,4px;
}
.getStartedButton:hover {
  color: #30363a;
  background-color: #4bcbb6;
}
.playgroundButton {
  background-color: #99a9ff;
  color: #30363a;
  border: none;
  padding: 12px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  width: 163px;
  height: 46px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22,4px;
}
.playgroundButton:hover {
  background-color: #798bff;
  color: black;
}
.arrow {
  width: 2px;
  height: 54px;
  background-image: linear-gradient(to bottom, #66ffe5, #99a9ff);
  margin: 0 auto;
  position: relative;
}
.arrow::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #99a9ff;
}
.textCode {
  font-family: sans-serif;
  color: #f4f4f4;
  position: relative;
  z-index: 2;
  margin-right: -105px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
}

.textCode .codeTitle {
  font-size: 62px;
  line-height: 74px;
  text-align: left;
}

.textCode .codeText {
  width: 393px;
  display: flex;
  text-align: left;
}

.heroImage {
  position: relative;
  z-index: 1;
  width: 849px;
  height: 746px;
  box-shadow: 0 0 50px 20px #1D1D1D;
}
.line {
  width: 1160px;
  height: 1px;
  margin: 61px auto;
  background-image: linear-gradient(to right, rgba(128, 147, 255, 0), #7d9bfa 21%, #60dbd4 79%, rgba(92, 228, 207, 0));
}

@media screen and (max-width: 996px) {
  .hero {
    padding: 20px
  }
  .heroWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .title {
    font-size: 42px;
    width: auto;
  }
  .header {
    font-size: 32px;
    width: auto;
    text-align: left;
  }
  .buttons {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .codeContainer {
    display: flex;
    flex-direction: column-reverse;
  }
  .description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .textCode {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: left;
    margin-right: 0px;
  }
  .codeText {
    color: #b8b8b8;
    font-size: 16px;
    line-height: 24px;
  }
  .heroImage {
    width: auto;
    height: auto;
  }
  .arrow {
    display: none;
  }
  .line {
    width: 360px;
  }
}

  