.community {
  background: #1d1d1d;
  color: #f4f4f4;
  padding-inline: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 73px;
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 159px;
  /* width: 1160px; */
  height: 658px;
  padding: 69px;
  background-color: #232526;

}
.text {
  font-family: "GinoraSans";
  font-weight: normal;
  width: 459px;
  height: 562px;
  flex-grow: 0;
  font-size: 62px;
  line-height: 1.19;
  text-align: left;
  color: #fff;
}
.icons {
  width: 361px;
  height: 98px;
}
.discordSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  width: 361px;

}
.discordButton {
  font-family: "Gilroy-Regular";
  color: #30363a;
  border: none;
  padding: 12px;
  cursor: pointer;
  border-radius: 8px;
  border: solid 1px #2c2c2c;
  background-color: #99a9ff;
  font-size: 16px;
  width: 163px;
  height: 46px;
  font-size: 16px;
  line-height: 22,4px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.discordButton:hover {
  color: #30363a;
  background-color: #8093ff;
  text-decoration: none;
}
.discordText {
  font-family: "Gilroy-Regular";
  width: 347px;
  font-size: 16px;
  line-height: 24px;
  color: #b8b8b8;
}
.title {
  font-family: "GinoraSans";
  font-weight: normal;
  font-size: 62px;
  line-height: 74px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line {
  width: 1160px;
  height: 1px;
  background-image: linear-gradient(to right, rgba(128, 147, 255, 0), #7d9bfa 21%, #60dbd4 79%, rgba(92, 228, 207, 0));
}

@media screen and (max-width: 996px) {
  /* .community {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
  .title {
    display: none;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    width: auto;
    height: auto;
    padding-top: 23px;
  }
  .text {
    width: auto;
    height: auto;
    font-size: 35px;
    line-height: 44px;
    text-align: left;
  }
  .icons {
    width: 301px;
    height: 82px;
  }
  .discordText {
    width: auto;
  }
  .line {
    width: 360px;
  }
}
