/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 :root {
  background-color: #1D1D1D;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

@media screen and (max-width: 996px) {
  .buttons {
    flex-direction: column;
    gap: 10px;
  }
}
.buttonWithIcon {
  display: flex;
  align-items: center;
}
.icon {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  vertical-align: middle;
  filter: grayscale(100%);
}
.line {
  width: 1160px;
  height: 1px;
  margin: 61px auto;
  background-image: linear-gradient(to right, rgba(128, 147, 255, 0), #7d9bfa 21%, #60dbd4 79%, rgba(92, 228, 207, 0));
}


