.features {
  background-color: #1D1D1D;
  color: #f4f4f4;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 17px;
}
.titleText {
  font-family: "GinoraSans-Regular";
  font-size: 62px;
  line-height: 74px;
  white-space: nowrap;
  display: flex;
  align-items: center;
}
.vectorTitle {
  height: 25px;
  width: 16px;
}
.benefitAscending  {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 110px;

}
.benefitDescending {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 110px;
}
.line {
  width: 1160px;
  height: 1px;
  margin: 61px auto;
  background-image: linear-gradient(to right, rgba(128, 147, 255, 0), #7d9bfa 21%, #60dbd4 79%, rgba(92, 228, 207, 0));
}
.benefitContent {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 518px;
}
.benefitTitle {
  font-family: "GinoraSans-Regular";
  color: #b8b8b8b3;
  font-size: 16px;
  letter-spacing: 4.8px;
}
.benefitSubTitle {
  font-family: "GinoraSans-Regular";
  color: #f4f4f4;
  font-size: 44px;
  line-height: 50px;
}
.benefitDescription {
  font-family: "Gilroy-Regular";
  color: #b8b8b8;
  font-size: 16px;
  line-height: 24px;
}
.benefitImage {
  height: auto;
  width: 100%;
  max-width: 540px;
  object-fit: contain;
}
.vectorBenefit {
  height: 16px;
  width: 10px;
}

@media screen and (max-width: 996px) {
  .titleText {
    font-size: 36px;
    line-height: 44px;
    word-wrap: break-word;
    white-space: normal; 
  }
  .benefitAscending  {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
  
  }
  .benefitDescending {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
  }
  .benefitContent {
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 19px;
    width: auto;
  }
  .benefitSubTitle {
    font-size: 32px;
    line-height: 40px;
  }
  .benefitImage {
    width: 100%;
    height: auto;
  }
  .line {
    width: 360px;
  }
}
  