.footer {
  height: 200px;
  background: #1d1d1d;
  color: #b8b8b8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 4.8px;
}

.colorful {
  flex-grow: 0;
  background-image: conic-gradient(from 0.37turn, #8093ff, #66ffe5 0.44turn, #8093ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline; /* Asegura que no afecta al enlace */
}
.link {
  color: #b8b8b8; /* Color normal del enlace */
  text-decoration: none;
  transition: color 0.3s ease; /* Animación suave al cambiar de color */
}

.link:hover {
  color: #66ffe5; /* Color diferente en el hover */
  text-decoration: underline;
}
